.hidden {
  display: none;
}

.button-container > button {
  border-radius: 50%;
  background-color: rgb(113, 169, 101);
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  width: 50px;
  height: 50px;
  box-shadow: 2px 2px 3px #999;
  cursor: pointer;
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
